---
import Wordle from '@components/wordle'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class='w-11/12 max-w-xs mx-auto grid place-items-center min-h-screen bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100'
  >
    <main class='flex flex-col gap-y-8 items-center'>
      <Wordle client:load />
    </main>
  </body>
</html>
